@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
*{
    font-family: 'Inter', sans-serif;  
}
body{
    margin: 0;
}
.container{
    flex-basis: 100vw;
    height: 120vh;
    /* background-color: #f9fafb; */
}
.menubar{
background: rgb(22, 22, 209);
flex-basis: 100vw;
height: 10vh;
display: flex;
align-items: center;
justify-content: space-between;
padding-right: 10px;
padding-left: 10px;
}
.items{
display: flex;
height: 120vh;
}
.profile{
/* flex-basis: 15vw; */
font-size: small;
padding: 14px;
/* margin-left: 25px; */
/* margin-top: 18px; */
}
.profileinfo{
    display: flex;
    align-items: center;
}
.pro{
    margin-top: 15px;
}
.project{
    /* flex-basis: 33vw; */
flex: 1;
font-size: small;
border: 1px solid rgba(180, 175, 175, 0.267);
}
.title{
    display: flex;
    justify-content: space-between;
    /* margin: 10px; */
        align-items: center;
padding: 14px;
    }
.sort{
    width: 70px;
    margin-top: 0;
    padding: 0;
    }
    .activity{
      background-color: #f9fafb;
    flex-basis: 25vw;
    font-size: small;
    /* margin-right: 25px; */
    /* margin-top: 24px; */
    padding: 14px;
    }
.activitydetails{
display: flex;
align-items: center;
}
.activitystyle{
    border-bottom: 1px solid rgb(218, 211, 211);
}
.activitytransaction{
    margin-left: 30px;
}
.menubar a{
color: white;
text-decoration: none;
}
.logo{
    flex-basis: 13vw;
    }
.searchinfo{
display: flex;
flex-basis: 52vw;
height: 27px;
background-color: rgb(72, 56, 223);
vertical-align: middle;
}

::placeholder{
    color: white;
    
}
.inputbox{
background-color: rgb(72, 56, 223);
border: none;}
.searchicon{
padding: 5px;
}
img{
border-radius: 50%;
}
button{
width: 150px;
padding: 5px;
margin-top: 15px;
border-radius: 5%;
border: 1px solid grey;
background-color: white;
}
.workcation{
    display: flex; 
    justify-content: space-between; 
    padding-bottom: 5px; 
}
.status{
    display: flex; 
   justify-content: space-between; 


}
.kk{
/* display: flex; */
border-top: 1px solid rgba(180, 175, 175, 0.267);
justify-content: space-between;
align-items: center;
padding:  20px;
}
time{flex: 1;
}
.you{
flex:3;
}


